h1 {  color: #FFFFFF; text-align: center}
body {  color: #FFFFFF; background-color: #0033FF}
a {  color: #FFFFFF; font-weight: bold}
p {  font-size: 12pt; color: #FFFFFF}
.footer {  font-size: 10pt; font-style: italic; color: #FFFFFF}
h2 {  font-variant: small-caps; color: #FFFFFF; text-decoration: underline; background-position: center; text-transform: uppercase; text-align: center}
br {  color: #CC0000}
td {  text-align: left; vertical-align: top; color: #FFFFFF}
.extra {  text-decoration: underline}
tr {  color: #FFFFFF}
.2bnxtc {  color: #CC0000}
.red {  color: #CC0000}
table {  }
.tablebg {  background-image: url(22.jpg)}
.viewing {  font-size: 12pt; color: #FFFFFF; font-style: italic}
.white {  color: #FFFFFF}
.here {  font-weight: bold; font-variant: small-caps}
